body{
font-family:Helvetica;
margin:0;
}

#header{
width:150px;
height:150px;
padding:10px;
background:#999;
margin-bottom:30px;
}


.songs {
	position: absolute; 
	top: 0; 
	left: 0; 
	padding: 20px;
	width: 210px; 
	height:210px;
	color: #222222; 
	z-index: 200; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	font-family: Helvetica;
	font-size: 12px;
	color:#666666;
	background: rgba(255,255,255,0.7);
	cursor:pointer;


	}
}
ul {
	list-style: none;
}
li {
	float: left;
	width: 150px;
	margin: 0  5px 0;
}
.albumimage{
border: 1px #ccc solid;
float: left;	
position: relative;
margin: 10px;
}

.albumimage img{
width:250px;
height:250px;
}


.artist {
font-family: 'Rokkitt', serif;
font-size:18px;
list-style-type:none;
color:#666666;
}



h1{
text-transform:uppercase;
font-family: 'Rokkitt', serif;
color:#fff;
font-size:30px;
}

h2{
font-size:18px;
font-family: 'Rokkitt', serif;
text-transform:uppercase;
color:#666;
}

//list styles

li{
list-style-type:none;
}

li.firstitem, ul.songs{
list-style-type:none;
}

.atitle {
font-family: 'Rokkitt', serif;
font-size:18px;
list-style-type:none;
color:#FF0099;
}


li img {
width:250px;
height:250px;
clear:both;
}

//div styles



#alternative, #classical #electronic{
width: 820px;
margin-top:40px;
}

#showaltsongs, #showclasssongs, #showelecsongs {
overflow: hidden;
}

button {
border: 3px green solid;
background-color:#E2E2E2;
height:40px;
cursor:pointer;
-moz-border-radius: 15px;
border-radius: 13px;
padding:0 20px;
}

#alternative button{
border-color:#FF0099;
}

#classical button{
border-color:#3CF;
}

#electronic button{
border-color:#FC3;
}

#wrapper{
width:820px;
margin:0px auto 30px auto;
padding-top:60px;
}